.button {
    display: flex;
    justify-content: center;
    color: var(--font-white);
    align-items: center;
    font-size: 0.875rem;
    font-weight: 500;
    background: linear-gradient(to right, var(--orange-pigz-2), var(--orange-pigz-1));
    width: 9.875rem;
    height: 2rem;
    border-radius: 2rem;
    letter-spacing: 21;
    box-shadow: none; /* Define inicialmente sem sombra */
    transition: filter 0.3s ease; /* Adiciona uma transição suave */
}

.button:hover {
    cursor: pointer;
    box-shadow: 0px 2px 6px 0px var(--orange-pigz-2); /* Adiciona sombra ao passar o mouse */
    filter: drop-shadow(1px 1px 8px var(--orange-pigz-2));
}